// 超出省略号
.elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.dpflex {
    display: flex;
}
.flex1 {
    flex: 1;
}
.mr8 {
    margin-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.mt8{
    margin-top:8px;
}
.mt16{
    margin-top:16px;
}
.ml8{
    margin-left: 8px;
}
.ml16{
    margin-left: 16px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}